google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
opencv-python
pytesseract
pillow
numpy
validators
pystray
pytz
customtkinter
plyer
requests
darkdetect
python-dotenv
textblob
easyocr
rapidfuzz
scikit-image
google-cloud-vision
fpdf
